<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>add product</title>
</head>
<body>
<div class="container">
    <h2>Add product</h2>
    <form th:action="@{add}" th:object="${product}" method="post">
        <p>Product name: <input type="text" th:field="*{title}"/></p>
        <p>Product price: <input type="text" th:field="*{cost}"/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</div>

</body>
</html>